    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --green: #a3de83;
    --blue: #38817a;
    --dark-blue: #558c9c;
    --yellow: #f7f39a;
    --black: #323232;
    --box-shadow: box-shadow: 0px 0px 10px 4px rgba(163,222,131,0.55);
    --border: 3px solid #323232;
    --outline: 5px double rgba(50,50,50,0.98);
    --outline-hover: 8px double #A3DE83;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: #eee;
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--blue);
}

.header .navbar a {
    font-size: 1.7rem;
    margin-inline: 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    font-weight: 600;
    color: var(--dark-blue);
}

.header .icons div {
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    border-radius: 7px;
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover {
    background: var(--blue);
    color: #fff;
}

#menu-btn {
    display: none;
}