@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Yaldevi&display=swap");

:root {
  --green: #a3de83;
  --light-white: #fcfefe;
  --light-red: #ee6f57;
  --blue: #38817a;
  --dark-blue: #558c9c;
  --yellow: #f7f39a;
  --black: #323232;
  --box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.105) inset;
  --border: 3px solid #323232;
  --outline: 4px double var(--dark-blue);
  --outline-hover: 8px double var(--green);
  --other-font: "Yaldevi", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background-color: #eee;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
}

.heading span {
  font-family: var(--other-font);
  background-color: var(--light-red);
  color: var(--light-white);
  display: inline-block;
  padding: 0.8rem 3.5rem;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--dark-blue);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4%;
  background-color: var(--blue);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--light-white);
}

/* .header .logo {
    color: var(--light-white);
} */

.header .logo i {
  color: whitesmoke;
}

.header .navbar a {
  font-size: 1.7rem;
  margin-inline: 1rem;
  color: #eee;
}

.header .navbar a:hover {
  font-weight: 600;
  font-size: 2rem;
  color: var(--light-red);
}

.header .icons div {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  border-radius: 7px;
  background-color: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons div:hover {
  background: var(--light-red);
  color: #fff;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  max-width: 50rem;
  width: 40rem;
  height: 4rem;
  background-color: #333;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 2px solid var(--light-red);
}

.header .search-form.active {
  right: 2rem;
  transition: 0.3s linear;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  /* font-family: var(--other-font); */
  /* text-indent: 4px; */
  font-size: 1.6rem;
  color: #eee;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header .search-form input::placeholder {
  color: rgba(245, 245, 245, 0.666);
}

.header .search-form #clear-search {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 51%; 
  right: 2.5%; 
  transform: translateY(-50%); /* Center the clear button vertically within the search input */
  font-size: 2rem;
  color: #eee;
  background-color: transparent;
}

.header .search-form label {
  font-size: 1.5rem;
  padding-left: 0.8rem;
  color: #eee;
  cursor: pointer;
}

.header .search-form label:hover {
  color: var(--green);
}

.header .shopping-cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  background-color: #fff;
}

.header .shopping-cart.active {
  right: 2rem;
  transition: 0.3s linear;
}

.header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}

.header .shopping-cart .box img {
  height: 10rem;
  width: 110px;
}

.header .shopping-cart .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--blue);
  transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
  color: red;
}

.header .shopping-cart .box .content h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
  color: var(--black);
  font-size: 1.3rem;
}

.header .shopping-cart .box .content .quantity {
  padding-left: 1rem;
}

.header .shopping-cart .total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
}

.header .shopping-cart .btn {
  align-self: center;
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
}

.header .login-form.active {
  right: 2rem;
  transition: 0.3s linear;
}

.header .login-form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.header .login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.header .login-form p {
  font-size: 1.3rem;
  padding: 0.5rem 0;
  color: gray;
}

.header .login-form p a {
  color: var(--blue);
  text-decoration: underline;
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 0.7rem;
  }

  .header .navbar a {
    color: #eee;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .header .search-form {
    width: 90%;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-sizing: var(--box-shadow);
    border-radius: 0.5rem;
    background-color: #fff;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
    color: black;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.3s linear;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 2rem;
  }

  .header .navbar a {
    color: #323232;
  }
}

.home {
  margin-top: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/Images/grocery.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: white;
}

.home .content {
  text-align: center;
  width: 60rem;
}

.home .content h3 {
  color: var(--light-red);
  font-size: 3rem;
  text-transform: none;
}

.home .content h3 span {
  color: var(--dark-blue);
}

.home .content p {
  font-size: 2rem;
  padding: 1.2rem 0;
  line-height: 1.5;
  color: var(--light-white);
}

/* features section */

.features .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.features .box-container .box {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
  outline: var(--outline-hover);
  outline-offset: -0.5rem;
}

.features .box-container .box img {
  margin: 1rem 0;
  height: 15rem;
}

.features .box-container .box h3 {
  font-size: 2.5rem;
  line-height: 1;
  color: var(--black);
}

.features .box-container .box p {
  font-size: 1.5rem;
  color: gray;
  padding: 1em 0;
}

/* product section */
.products .product-slider {
  padding: 1rem;
}

.products .product-slider:first-child {
  padding: 2rem;
}

.products .product-slider .box {
  background-color: #fff;
  border-radius: .5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: .2s linear;
}

.products .product-slider .box:hover {
  outline-offset: -.5rem;
  outline: var(--outline-hover);
}

.products .product-slider .box img {
  height: 20rem;
}

.products .product-slider .box h3 {
  font-size: 2.5rem;
  color: var(--black)
}

.products .product-slider .box .price {
  font-size: 2rem;
  color: var(--black);
  padding-block: .5rem;
}

.products .product-slider .box .rating i {
  font-size: 1.7rem;
  color: #FF9529;
  padding-block: .5rem;
}

