@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Yaldevi&display=swap');

:root {
    --green: #a3de83;
    --blue: #38817a;
    --dark-blue: #558c9c;
    --yellow: #f7f39a;
    --black: #323232;
    --box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.105) inset;
    --border: 3px solid #323232;
    --outline: 5px double rgba(50,50,50,0.98);
    --outline-hover: 8px double #A3DE83;
    --other-font: 'Yaldevi', sans-serif;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: #eee;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background-color: var(--blue);
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--dark-blue);
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4%;
    background: #a3de8320;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--blue);
}

.header .navbar a {
    font-size: 1.7rem;
    margin-inline: 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    font-weight: 600;
    color: var(--dark-blue);
}

.header .icons div {
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    border-radius: 7px;
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover {
    background: var(--blue);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%; right: -110%;
    max-width: 50rem;
    width: 40rem;
    height: 4rem;
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 2px solid var(--green);
}

.header .search-form.active {
    right: 2rem;
    transition: .3s linear;
}

.header .search-form input  {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    /* font-family: var(--other-font); */
    /* text-indent: 4px; */
    font-size: 1.6rem;
    color: var(--black);
    padding-left: 1rem;
    padding-right: 1rem;
}

.header .search-form label {
    font-size: 1.5rem;
    padding-left: 0.8rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--blue);
}

.header .shopping-cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110%; right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background-color: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .3s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
    width: 110px;
} 

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%; right: 2rem;
    cursor: pointer;
    color: var(--blue);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: red;
}

.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--black);
    font-size: 1.3rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}


.header .shopping-cart .btn {
    align-self: center;
}

.header .login-form {
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .3s linear;
}

.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    width: 100%;
    margin: .7rem 0;
    background-color: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p {
    font-size: 1.3rem;
    padding: .5rem 0;
    color: gray;
}

.header .login-form p a {
    color: var(--blue);
    text-decoration: underline;
}